{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Temu Categori Detail</title>
{% endblock head %}

{% block style %}
<link rel="stylesheet" href=" {% static 'category/css/bootstrap.min.css' %}" >
<link rel="stylesheet" href=" {% static 'category/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href=" {% static 'category/css/templatemo-style.css' %}">

<style>
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
    .navbar-nav > li{
      margin-left: 8px;
      margin-right: 8px;
    }
    
    .navbar-brand {
      font-family: Lemon, cursive;
      font-size: 35px;
      color: #FF6D1C !important;
      text-transform: uppercase;
        text-rendering: optimizeLegibility;
    }    
    body {
        background: linear-gradient(to right, #FEA12E, #F4A77C);
    }

</style>
{% endblock style %}


{% block body %}
{% include 'navigation.html' %}
<!-- Page Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>


<!--search bar-->

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
    <form class="d-flex tm-search-form" action="/category/" method="POST">
        {% csrf_token %}
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" name="nama_event">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>






<!--Isi body-->

    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary text-center" style="color: black;">
            Find your Events
        </h2>
        <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 250px; height: 5px;">
    </div>
    
    <div class="container">
    {% for event in events %}
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <div class="card card-signin" style="padding-bottom: 30px;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{ event.nama_event }}</h4>
                    <p class="card-subtitle mb-2 text-muted">{{ event.jadwal }}</p>
                    <p class="card-text"> {{ event.details|truncatewords:15 }}</p>
                    <a href={% url 'eventcatalog:view' event.id %} class="mt-auto btn btn-primary btn-lg btn-block" style="margin-top:40px">Read more</a>
                </div>
            </div>
        
        </div>
    </div>
{% endfor %}
</div>
 <!--footer-->
{% include 'footer.html' %}
<!-- row -->   
{% endblock body %}

{% block script_foot %}
<script src=" {% static 'category/js/plugins.js' %}"></script>
<script>
    $(window).on("load", function() {
        $('body').addClass('loaded');
    });
</script>
{% endblock script_foot %}