<!DOCTYPE html>

{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock head %}

        {% block script_head %}
        {% endblock script_head %}

        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block body %}
        <div class="navigation">
                {% include 'navigation.html' %}
            </div>
        <div id="page-container">
            <div id="content-wrap">
                {% block content %}
                {% endblock content %}
            </div>
            {% include 'footer.html' %}
        </div>
        {% endblock body %}
        
        {% block script_foot %}
        {% endblock script_foot %}
    </body>
</html>