 <footer class="tm-bg-black pt-5 pb-3 tm-text-black tm-footer sticky-bottom bg-dark">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-black mb-4 tm-footer-title" style="color: white;">Temu Category</h3>
                <p style="color: white;">Temukan kegiatan yang kamu inginkan dan rasakan pengalaman baru dalam berkomunikasi.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-black mb-4 tm-footer-title" style="color: white;">Follow Us</h3>
                <ul class="tm-footer-link-black pl-0" style="color: white;">
                    <li><a href="#" style="color: white;">Advertise</a></li>
                    <li><a href="#" style="color: white;">Support</a></li>
                    <li><a href="#" style="color: white;">Our Company</a></li>
                    <li><a href="#" style="color: white;">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"style="color: black;"></i></a></li>
                    <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter" style="color: black;"></i></a></li>
                    <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram" style="color: black;"></i></a></li>
                    <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest" style="color: black;"></i></a></li>
                </ul>
                <a href="#" class="tm-text-white text-right d-block mb-2"style="color: white;">Terms of Use</a>
                <a href="#" class="tm-text-white text-right d-block"style="color: white;">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3" style="color: white;">
                Copyright 2020 <a href="#"style="color: white;"><b>Temu</b></a> All rights reserved.
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right" style="color: white;">
                Designed by <a href="https://templatemo.com" class="tm-text-black" rel="sponsored" target="_parent"style="color: white;">TK 13</a>
            </div>
        </div>
    </div>
</footer>