<style>
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.navbar-nav > li{
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-brand {
  font-family: Lemon, cursive;
  font-size: 35px;
  color: #FF6D1C !important;
  text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href={% url 'mainpage:index' %}>Temu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href={% url 'eventcatalog:index' %}>Events</a>
      </li>
      <li>
        <a class="nav-link active" href={% url 'category:index' %}>Category</a>
      </li>
      {% if not auth %}
        {% if user and user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text active">Hello, {{ user.username }} 👋</span>
        </li>
        <li>
          <a href={% url 'userauth:logout' %} class="btn btn-danger">Logout</a>
        </li>
        {% else %}
        <li>
          <a href={% url 'userauth:login' %} class="btn btn-success">Login</a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</nav>