{% extends 'base.html' %}

{% block head %}
<title>TEMU - Discover events around you</title>
<meta name="description" content="Discover events around you">

<meta property="og:title" content="TEMU">
<meta property="og:type" content="website">
<meta property="og:site_name" content="TEMU">
{% endblock head %}

{% block body %}
{% include 'navigation.html' %}
{% include 'footer.html' %}
{% endblock body %}